.index {
    background: #f2f2f2;
}
.title {
    color: #666;
    font-size: 36px;
    padding: 12px 24px;
}
.ticket-selector-container {
    border-bottom: 1px solid #a9a9a9;
    &:last-of-type {
        border-bottom: none;
    }
}
